- @title = capture_haml do
  - if current_user.try(:id) == user.id
    Your new albums this&nbsp;week
  - else
    This week’s new albums for&nbsp;#{user.name || user.id}

- if current_user.try(:id) == user.id
  %form.user{ method: 'post', action: '/sign-out' }
    %p
      You’re #{user.name || user.id}. Had enough?
      %button.inline-link Sign Out
- else
  %p New albums from the artists you follow every week.

  %p.cta
    %a{ href: '/auth/spotify' }
      Sign in with&nbsp;Spotify

- albums.each do |album|
  %section.album
    %a.album-link{ href: "spotify:album:#{album.id}", title: 'Open in Spotify' }
      %h1.album-artist= album.artists.map(&:name).join ', '
      %h2.album-name= album.name
      %p.album-type= album.type

    - if current_user.try(:id) == user.id
      %form.add{ method: 'post', action: '/queue' }
        %input{ type: 'hidden', name: 'album_id', value: album.id }
        %button.add__button +
